@if (User.IsInRole("Administrators"))
{
    <div class="dropdown" role="navigation">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Администрирование
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a asp-controller="UserAdmin" class="dropdown-item">Аккаунты пользователей</a>
            <a asp-controller="RoleAdmin" class="dropdown-item">Роли</a>
            <div class="dropdown-divider"></div>
            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Выйти</a>
        </div>
    </div>
}