@if (User.IsInRole("Administrators"))
{
    <div class="dropdown" role="navigation">
        <a class="nav-link text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Администрирование
        </a>

        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a asp-controller="Account" asp-action="Logout" class="dropdown-item">Выйти</a>
        </div>
    </div>
}
else
{
    <a asp-controller="Account" asp-action="Login" class="nav-link text-danger">!Не принадлежит роли Administrators!</a>    
}