@model CSMPMLib.IrrigationPlan

@{
    ViewData["Title"] = "Редактирование";
}

<h1>Редактирование плана поливов</h1>

<h4></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IrrigationPlanId" />
            <div class="form-group">
                <label asp-for="Year" class="control-label"></label>
                <input asp-for="Year" class="form-control" />
                <span asp-validation-for="Year" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OrganizationDocumentationPlans.OrganizationDocumentationPlansNameFull" class="control-label"></label>
                <select asp-for="OrganizationDocumentationPlansId" class="form-control" asp-items="ViewBag.OrganizationDocumentationPlans"></select>
                <span asp-validation-for="OrganizationDocumentationPlansId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrganizationDocumentationPlansId" />
                <input type="submit" value="Сохранить" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>