@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <a asp-action="SystemUpdate" class="btn btn-danger">Обновить</a>
</div>
